<h1>Edit Author</h1>

<%= render 'form', author: @author %>
<br>
<%= link_to 'Show', @author, class: 'btn btn-outline-dark'   %> |
<%= link_to 'Back', authors_path, class: 'btn btn-outline-dark'   %>
